@{
    ViewData["Title"] = "Inicio de Sesion";
}

@section estilo{
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

@section links_extras{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registro">Registro</a>
    </li>
}

<div class="container">
    @if (ViewBag.error != null)
    {
        <div class="alert alert-danger alert-dismissible fade text-center show fw-bold mt-3 h4" role="alert">
            @ViewBag.error
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row d-flex justify-content-center mt-3">
        <h1 class="col-10 text-center text-white">INICIO DE SESION</h1>
        <img src="~/Images/inicioSesionLogo.jpg" class="img-fluid mt-3 box-shadow inicio-logo" />
    </div>
    <div class="row d-flex justify-content-center">
        <form asp-action="Login" asp-controller="Home" class="col-lg-5 col-md-8 col-sm-12">
            <div class="mt-3 px-4 d-flex position-relative flex-wrap justify-content-center bg-transparent rounded-1 box-shadow">
                <div class="form-floating mb-3 w-100">
                    <input name="correo" type="email" class="form-control input-bg-custom" id="emailInput" placeholder="Password" autocomplete="nope">
                    <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="emailInput">
                        <i class="bi bi-envelope-fill me-2" style="font-size: 1.2rem;"></i>
                        Email 
                    </label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <input name="contrasena" type="password" class="form-control input-bg-custom" id="contrasenaInput" placeholder="Example" autocomplete="nope">
                    <label class="form-label input-bg-custom fs-6 d-flex align-items-center" for="contrasenaInput">
                        <i class="bi bi-geo-alt-fill me-2" style="font-size: 1.4rem;"></i>
                        Contraseña
                    </label>
                </div>
            </div>
            <div class="col-10 text-center text-white">
                <button class="btn btn-light w-25 p-2 fs-5 btn-login mt-3">Ingresar</button>
                <a class="nav-link active mt-2" asp-action="Recuperacion" asp-controller="Home">Recuperar contraseña</a>
            </div>
            </form>

    </div>
</div>
