body {
    background: url(../Images/bgBlue.jpg) top;
    background-size: cover;
}

    body::-webkit-scrollbar {
        width: 0px;
    }

.login_icon {
    font-size: 150px;
    color: aliceblue;
}

.input-bg-custom {
    background-color: transparent;
    color: aliceblue;
}

.form-floating input:focus {
    color: aliceblue;
    background-color: transparent;
}

.form-control:focus + .form-label::after {
    background-color: transparent !important;
}

.form-control:focus + .form-label {
    color: aliceblue !important;
}

.form-label::after {
    background-color: transparent !important;
}

.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    color: aliceblue;
}

.btn-login, .btn-login:hover, .btn-login:focus, .btn-login:active {
    color: #2f3598;
    font-weight: 600;
}

.a-recuperar {
    position: absolute;
    text-decoration: none;
    font-weight: 600;
    bottom: 134px;
    right: 20px;
    color: aliceblue;
    cursor: pointer;
}

.inicio-logo {
    width: 50%;
    border-radius: 5%;
}

h1 {
    font-family: Candara;
    font-weight: 900;
    font-size: 3em;
}

@media (width < 768px) {
    .a-recuperar {
        font-size: 16px;
        bottom: 115px;
    }
}
