body {
    background: url(../Images/bgAdmin.jpg) top;
    background-size: cover;
    font-size: 16px;
    font-family:Calibri;
}

h1 {
    font-family: Candara;
    font-weight: 900;
    font-size: 3em;
}

.tabla-personalizada {
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff3e;
    text-align: center;
    overflow-x: auto;
}

    .tabla-personalizada thead th {
        padding: 8px 12px;
        border-bottom: 2px solid #ace5aa;
        color: #225018;
        font-size:1.2em;
    }

    .tabla-personalizada th {
        padding: 8px 12px;
        color: #09552a;
        font-size: 1.1em;
    }

    .tabla-personalizada td {
        padding: 8px 12px;
        font-weight: 600;
        white-space:nowrap;
        }

.table-responsive::-webkit-scrollbar {
    background-color: #ffffff71;
    height: 4px;
    border-radius:8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #ace5aa;
    border-radius: 8px;
}

    .table-responsive::-webkit-scrollbar-thumb:horizontal {
        width: 50%;
    }

.input-group{
    border:2px solid black;
    border-radius:8px;
}

.btn-success{
    white-space:nowrap;
    width:30%;
}

.texto_alerta{
    color:darkorange;
}